
.font1{
  font-family: 'Abril Fatface', cursive;
}
.font-color1{
  transition: 2s;
  color: aqua;
}
.font-color2{
  transition: 2s;
  color: blue;
}
/* .navbar{
  position: fixed;

  top:-5rem;
  width: 100%;
  transition:1s;
  height: 5rem;

} */
.navbar{
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, transparent 50%, white 50%);
  -webkit-transition: background-position 2s;
  -moz-transition: background-position 2s;
  transition: background-position 2s;
  

  /* position: fixed;
  top:-5rem;
  width: 100%;
  transition:1s;
  height: 5rem; */
}
.main-div{
  /* height: 40rem;
  background-color: #f8f9fa;
  background-image: url('/images/FC850D24-C923-4719-B52D-A6454CCDE87F_1_201_a-removebg-preview.png') ;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/FC850D24-C923-4719-B52D-A6454CCDE87F_1_201_a-removebg-preview.png');
  background-repeat: no-repeat;

  background-position-y: -6rem;
  background-size: 39rem;
  background-position-x: 41rem;
  overflow: hidden;
  height: 100vh;
  width: 100%; */



  background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7) ), url('/images/FC850D24-C923-4719-B52D-A6454CCDE87F_1_201_a-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 40rem;

 
    overflow: hidden;
}

/* 
@media only screen and (min-width: 421px) and (max-width: 900px){
.main-div{
  background-position-x: 24rem;
}

}
@media only screen and (min-width: 320px) and (max-width: 420px){
  .main-div{
    background-position-x: 0rem;
    background-position-y: 0rem;
    background-size: 31rem;
  }

} */
